autocommand==2.2.2
bcrypt==4.0.1
certifi==2022.12.7
cffi==1.15.1
click==8.1.3
cryptography==39.0.2
dnspython==2.3.0
elastic-transport==8.4.0
elasticsearch==8.6.2
environs==9.5.0
Flask==2.2.3
Flask-PyMongo==2.3.0
importlib-metadata==6.0.0
importlib-resources==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jwt==1.3.1
MarkupSafe==2.1.2
marshmallow==3.19.0
mongo-connector==3.1.1
packaging==23.0
pycodestyle==2.10.0
pycparser==2.21
pymongo==4.3.3
python-dotenv==1.0.0
urllib3==1.26.15
Werkzeug==2.2.3
zipp==3.15.0
